* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body {
    min-height: 100vh;
    background: #23242a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;}

.container {
    width: 380px;
    background: rgba(255,255,255,0.05);
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    overflow: hidden;
}

.form-box {
    padding: 40px;
    display: none;
    transition: 0.4s ease;
}

.form-box.active {
    display: block;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

.input-box {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.input-box label {
    position: absolute;
    top: -8px;
    left: 0;
    font-size: 0.85em;
    color: #ccc;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10px;
}

.btn:hover {
    background: #ddd;
}

.switch-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.switch-text a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.switch-text a:hover {
    text-decoration: underline;
}

